.boldtext{

font-weight: bold;
font-family: times;
font-size:20px;


}

body{
	background-color: #FFD700;

}

.mediP1{
	padding-right:10px;

}
/* -------- Thanh style---------------*/
label
{
  padding-right: 5px;
}
span
{
	font-weight: bold;
	padding-right: 5px;
}