html 
{
   min-height: 100%;
}

#pageContent
{
   margin: 0;
   width: 1024px;
}

a.full-area 
{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
a.full-area:visited
{
  color: #000;
}
#header
{
  background-color: #ccccfe;
  border: 2px solid #000000;
   border-radius: 5px;
   clear: both;
}
#header img
{
  display: block;
}
#header #SiteHeaderText
  {
  font:bold 2em Helvetica;
  color: #fff;
  text-shadow: 3px 3px 3px #000;
  -ms-text-shadow: 3px 3px 3px #000;
  -o-text-shadow: 3px 3px 3px #000;
  -webkit-text-shadow: 3px 3px 3px #000;
  -moz-text-shadow: 3px 3px 3px #000;
  position: relative;
  z-index: 4;
  top: -80px;
  left: 260px;
  float: left;  
  }
  
#footer
{
   border: 3px solid #000;
   margin-top: 30px;
   padding: 15px;
} 

#content
{
   padding: 15px;
   overflow: auto;
   width: 100%
}

h1.pageTitle
{
  margin: 0;
  text-align:center;
}
.tileRow
{
  padding: 5px;
  float: none;
  clear: both;
  
}

.startTile 
{
  border: 3px solid #000;
  padding-top: 25px;
  width: 235px;
  height: 120px;
  margin: 5px;
  float: left;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 5px 5px;
  text-align: center;
  vertical-align: center;
  font:bold 1.7em Arial; 
}

.screenerTile
{
   /*color: #ffffff;*/
   background-color: #cccc66;
}
.receiverTile
{
  background-color: orange;
}
.labTile
{
  background-color: gray;
}
.recipientTile
{
  background-color: brown;
}
.accountingTile
{
  background-color: green;
}
.adminTile
{
  background-color: red;
}

table#results
{
   border: 1px solid #000;
}
tr.resultHeader
{
   color: #fff;
   background: gray;
}

/* -------- form fields ---------------*/
form label
{
  font-weight: bold;
  padding-right: 5px;
}

